In [97]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

#importing libraries

In [98]:
page="https://www.amazon.in/s?k=laptops&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1613142820&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_13"

In [99]:
ratings=[]
title=[]
price=[]

In [100]:
url=requests.get(page)

In [101]:
soup=BeautifulSoup(url.content,"html.parser")

In [102]:
for i in soup.find_all('span',class_="a-price-whole"):
    price.append(i.text)
for i in soup.find_all('span',class_="a-icon-alt"):
    ratings.append(i.text)
for i in soup.find_all('a' ,class_="a-link-normal a-text-normal"):
    title.append(i.text.replace('\n',""))

In [105]:
ratings=ratings[4:10]
title=title[0:10]
price=price[0:10]

In [106]:
data=list(zip(title,ratings,price))

In [110]:
df=pd.DataFrame(data,columns=["Title","Rating","Price"])

In [111]:
df.head()

,Title,Rating,Price
0,Dell G3 3500 Gaming 15.6inch 120hz FHD Display...,4.1 out of 5 stars,"82,990"
1,"ASUS ROG Zephyrus Duo 15, 15.6"" FHD 300Hz/3ms,...",4.2 out of 5 stars,"2,76,990"
2,Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...,4.3 out of 5 stars,"76,990"
3,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,4.0 out of 5 stars,"74,990"
4,"ASUS TUF Gaming F15, 15.6"" FHD 144Hz, Intel Co...",4.0 out of 5 stars,"82,990"