In [171]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
#importing libraries

In [172]:
#importing webdriver
from selenium import webdriver

In [173]:
driver=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

<ipython-input-173-56a44a4849dd>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

In [174]:
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [175]:
driver.get(url)

In [176]:
soup= BeautifulSoup(driver.page_source, 'html.parser')

In [318]:
company=[]
average_salary=[]
max_salary=[]
salary=[]
min_salary=[]
#creating empty list

In [319]:
for i in soup.find_all('div',class_="col-3 offset-1 d-none d-md-block"):
    salary.append(i.text)
#scrapping data from salary

In [320]:
salary
#removing comma from the salary

['₹450K₹11,630K',
 '₹350K₹1,614K',
 '₹336K₹1,010K',
 '₹577K₹2,215K',
 '₹587K₹2,732K',
 '₹717K₹1,575K',
 '₹502K₹1,152K',
 '₹621K₹1,696K',
 '₹793K₹1,264K',
 '₹576K₹1,500K',
 '₹202K₹1,811K',
 '₹972K₹1,885K',
 '₹471K₹1,680K',
 '₹632K₹1,125K',
 '₹808K₹1,571K',
 '₹1,533K₹3,239K',
 '₹818K₹2,008K',
 '₹86K₹1,359K',
 '₹923K₹1,783K',
 '₹792K₹1,896K']

In [321]:
new_salary=[]
for i in range(0,10):
    neww=salary[i].replace(",","")
    new_salary.append(neww)
new_salary

['₹450K₹11630K',
 '₹350K₹1614K',
 '₹336K₹1010K',
 '₹577K₹2215K',
 '₹587K₹2732K',
 '₹717K₹1575K',
 '₹502K₹1152K',
 '₹621K₹1696K',
 '₹793K₹1264K',
 '₹576K₹1500K']

In [322]:
min_s=[]
max_s=[]
#creating list to store max and min salary

In [323]:
def split(p):
    import re
    temp = re.findall(r'\d+', p)
    res = list(map(int, temp))
    max_s.append(res[0])
    min_s.append(res[1])
    return max_s,min_s
#creating a function to splitting and find max and min

In [324]:
for i in range (0,10):
    kk=pp[i]
    salary=split(kk)
    min_salary=salary[0]
    max_salary=salary[1]
#storing max min in respective list

In [325]:
for i in range(0,10):
    max_salary[i]=str(max_salary[i])+"K"
    min_salary[i]=str(min_salary[i])+"K"

#adding K at the end

['350K',
 '336K',
 '577K',
 '587K',
 '717K',
 '502K',
 '621K',
 '793K',
 '576K',
 '350K']

In [342]:
for i in soup.find_all('div',class_="col-2 d-none d-md-flex flex-row justify-content-end"):
     average_salary.append(i.text)

average_salary

['₹ 12,64,182/yr',
 '₹ 7,30,968/yr',
 '₹ 6,00,000/yr',
 '₹ 9,94,055/yr',
 '₹ 7,39,040/yr',
 '₹ 13,37,114/yr',
 '₹ 7,80,374/yr',
 '₹ 11,98,792/yr',
 '₹ 10,08,143/yr',
 '₹ 11,34,989/yr',
 '₹ 10,00,000/yr',
 '₹ 14,14,106/yr',
 '₹ 13,55,753/yr',
 '₹ 9,81,176/yr',
 '₹ 12,50,079/yr',
 '₹ 15,33,073/yr',
 '₹ 12,91,651/yr',
 '₹ 5,88,751/yr',
 '₹ 17,00,000/yr',
 '₹ 11,14,262/yr']

In [333]:
for i in soup.find_all("div",attrs={"class":"","data-test":"job-info"}):
     company.append(i.text)
#extracting company details

In [334]:
company_new=[]

In [335]:
for i in range(0,10):
    m=company[i]
    out = m[14:]
    K=out.replace(" ","")
    k=re.findall('([a-zA-Z]+)₹', K)
    company_new.append(k)
company_new
#storing it new list

[['Delhivery'],
 ['Worldwide'],
 ['TataConsultancyServices'],
 ['Accenture'],
 ['IBM'],
 ['UnitedHealthGroup'],
 ['ValianceSolutions'],
 ['Innovaccer'],
 ['CognizantTechnologySolutions'],
 ['EXLService']]

In [336]:
company_new=company_new[:10]
average_salary=average_salary[:10]
max_salary=max_salary[:10]
min_salary=min_salary[:10]
#scraping first 10 data

In [343]:
average_salary

['₹ 12,64,182/yr',
 '₹ 7,30,968/yr',
 '₹ 6,00,000/yr',
 '₹ 9,94,055/yr',
 '₹ 7,39,040/yr',
 '₹ 13,37,114/yr',
 '₹ 7,80,374/yr',
 '₹ 11,98,792/yr',
 '₹ 10,08,143/yr',
 '₹ 11,34,989/yr',
 '₹ 10,00,000/yr',
 '₹ 14,14,106/yr',
 '₹ 13,55,753/yr',
 '₹ 9,81,176/yr',
 '₹ 12,50,079/yr',
 '₹ 15,33,073/yr',
 '₹ 12,91,651/yr',
 '₹ 5,88,751/yr',
 '₹ 17,00,000/yr',
 '₹ 11,14,262/yr']

In [344]:
data=list(zip(company_new,average_salary,max_salary,min_salary))
#zipping all together

In [345]:
df=pd.DataFrame(data,columns=["Company","Average Salary","Max Salary(in thousands)","Min Salary(in thousands)"])
#creating df

In [346]:
df

,Company,Average Salary,Max Salary(in thousands),Min Salary(in thousands)
0,[Delhivery],"₹ 12,64,182/yr",1614K,350K
1,[Worldwide],"₹ 7,30,968/yr",1010K,336K
2,[TataConsultancyServices],"₹ 6,00,000/yr",2215K,577K
3,[Accenture],"₹ 9,94,055/yr",2732K,587K
4,[IBM],"₹ 7,39,040/yr",1575K,717K
5,[UnitedHealthGroup],"₹ 13,37,114/yr",1152K,502K
6,[ValianceSolutions],"₹ 7,80,374/yr",1696K,621K
7,[Innovaccer],"₹ 11,98,792/yr",1264K,793K
8,[CognizantTechnologySolutions],"₹ 10,08,143/yr",1500K,576K
9,[EXLService],"₹ 11,34,989/yr",1614K,350K