In [80]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

#importing libraries

In [81]:
#entering urls
url1="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5357.0_10505.0_5357.0%20TO%2010505.0"
url2="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&plaEnabled=false&rf=Price%3A5357.0_10505.0_5357.0%20TO%2010505.0"

In [82]:
from selenium import webdriver
#importing webdriver

In [22]:
driver1=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")
driver2=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

<ipython-input-22-f3fd0c04c769>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver1=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")
<ipython-input-22-f3fd0c04c769>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver2=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

In [91]:
driver1.get(url1)
driver2.get(url2)

In [92]:
soup1= BeautifulSoup(driver1.page_source, 'html.parser')
soup2= BeautifulSoup(driver2.page_source, 'html.parser')

In [99]:
brand=[]
shoe_desc=[]
price=[]
#creating empty list

In [86]:
def scrap(soup):
    for i in soup.find_all('span',class_="product-discountedPrice"):
        price.append(i.text)
    for i in soup.find_all('h3',class_="product-brand"):
        brand.append(i.text)
    for i in soup.find_all('h4',class_='product-product'):
        shoe_desc.append(i.text)
    overall=list(zip(price,brand,shoe_desc))
    return overall

In [93]:
kk=scrap(soup1)
pp=scrap(soup2)
#calling two functions ,once that is done using second function as it will store the previous values as well

In [94]:
df=pd.DataFrame(pp,columns=["Brand","Price","Shoe Description"])

In [95]:
df

        Brand             Price                   Shoe Description
0    Rs. 6599              Puma     Men HYBRID NETFIT Running Shoe
1    Rs. 9349              Nike              Men MC Training Shoes
2    Rs. 5599  ADIDAS Originals             Men Superstar Sneakers
3    Rs. 6153      Hush Puppies  Men Solid Leather Formal Slip-Ons
4    Rs. 6236              Puma          Men LQDCELL Running Shoes
..        ...               ...                                ...
96   Rs. 7499              Geox           Women Sequinned Sneakers
97   Rs. 6399              Nike       Men Air Zoom Pegasus Running
98   Rs. 6204  ADIDAS Originals          Men Solid NMD_R1 Sneakers
99   Rs. 6293              Nike          Women REACT Running Shoes
100  Rs. 6159  ADIDAS Originals       Men Superstar Vegan Sneakers

[101 rows x 3 columns]