In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
#importing libraries

In [2]:
from selenium import webdriver
#importing webdriver

In [3]:
driver=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

<ipython-input-3-56a44a4849dd>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("C:\\Users\\Preeti kumari\\chromedriver.exe")

In [4]:
#entering url
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [5]:
driver.get(url)

In [6]:
soup= BeautifulSoup(driver.page_source, 'html.parser')

In [7]:
title=[]
location=[]
company_name=[]
#creating empty list

In [8]:
for i in soup.find_all('a',class_="title fw500 ellipsis"):
    title.append(i.text)

for i in soup.find_all('li',class_="fleft grey-text br2 placeHolderLi location"):
    location.append(i.text)
for i in soup.find_all('a',class_="subTitle ellipsis fleft"):
    company_name.append(i.text)
#scrapping data

In [10]:
title=title[0:10]
location=location[0:10]
company_name=company_name[0:10]
#saving first 10

In [13]:
data=list(zip(title,location,company_name))
#zipping al the data togethe

In [14]:
df=pd.DataFrame(data,columns=["Title","Location","Company name"])
#converting into dataframe

In [15]:
df

,Title,Location,Company name
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",Inflexion Analytix Private Limited
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Bengaluru,Wrackle Technologies Pvt Ltd
2,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd
3,Data Scientist - Machine Learning (Commerce BU),Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED
4,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.
5,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.
6,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.
8,Data Scientist- Manager/Sr. Manager,Bengaluru,GENPACT India Private Limited
9,Sr Data Scientist,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",Concentrix Daksh Services India Private Limited.

In [ ]:
# I was unable to extract full job description,please help me withthat