In [58]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

#importing libraries

In [59]:
page="https://www.flipkart.com/search?q=sneakers+&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_4_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_4_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sneakers+&requestId=08306b9e-ae90-4c57-9bf6-debfa5e303af&as-searchtext=snea&page="

In [60]:
brand=[]
product_desc=[]
price=[]
discount=[]

In [61]:
for i in range(1,5):
    url=requests.get(page+str(i))
    soup=BeautifulSoup(url.content,"html.parser")
    for i in soup.find_all('div',class_="_2WkVRV"):
        brand.append(i.text)
    for i in soup.find_all('a',class_="IRpwTa"):
        product_desc.append(i.text)
    for i in soup.find_all('div',class_="_30jeq3"):
        price.append(i.text)
    for i in soup.find_all('div',class_="_3Ay6Sb"):
        discount.append(i.text)

In [62]:
print(len(brand))
print(len(product_desc))
print(len(price))
print(len(discount))

160
160
180
178

In [63]:
brand=brand[0:100]
product_desc=product_desc[0:100]
price=price[0:100]
discount=discount[0:100]
#only saving till 100 reviews

In [64]:
data=list(zip(brand,product_desc,price,discount))

In [65]:
df=pd.DataFrame(data,columns=["Brand","Product Description","Price","Discount"])

In [66]:
df.head()

,Brand,Product Description,Price,Discount
0,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
1,Chevit,Chevit Trendy Fashion Sports Combo Pack of 3 P...,₹564,68% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
3,Chevit,520 Fashion & Trendy Light Sneakers For Men,₹299,40% off
4,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹474,76% off